
.Box1 {
  background-color: #000;
  color: #fff;
  opacity: .5;
  width: 50;
}

.Background {
    background-image: url("../Background.png");
    height:'100vh';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    font-size:'50px'; 
}

